

$tablet-grid: (
  columns: 12,
  gutter: 25px,
  media: 1000px,
);

// #hero-background img{
//   @include size(100% 400px);
// }

#hero {
  // background-color: $blue;
  text-align: center;
  @include size(100% 200px);
}

.middle, .nav-wrapper {
  @include wrapper;
}

.middle-grid {
  @include grid-column(12);
  // background-color: gray;
}

.card {
  @include grid-column(12 of 12);
  height: 20em;
  margin-bottom: 5%;
  @include grid-media($tablet-grid){
    @include grid-column(4);
    // height: 100%;
  };
}

#card1 {
  @include card(url(../img/card1.jpg)) ;
}

#card2 {
  @include card(url(../img/card2.jpg)) ;
}

#card3 {
  @include card(url(../img/card3.jpg)) ;
}




#circle1 {
  @include circle(60vw, $red, 10%, 10%);
}

#circle2 {
  @include circle(45vw, mix($red, $orange), 5%, 50%);
}

#circle3 {
  @include circle(25vh,$orange,
  1%, 1%);
}

#circle4 {
  @include circle(25vh,mix($orange, $yellow), 75px, 200px);
}



h4 {
  position: relative;
  margin-top: 40px;
}

h1 {
  z-index: 5;
  position: relative;
}
