

$tablet-grid: (
  columns: 12,
  gutter: 25px,
  media: 1000px,
);


#hero {
  text-align: center;
  @include size(100% 150px);
  overflow: hidden;
}

#circle1 {
  @include circle(30vw, $red, 10%, 10%);
}

#circle2 {
  @include circle(45vw, mix($red, $orange), 0%, 25%);
}

#circle3 {
  @include circle(30vh,$orange, 1%, 2%);
}

#circle4 {
  @include circle(20vw,mix($orange, $yellow), 1%, 65%);
}

#circle5 {
  @include circle(30vw, mix($red, $yellow), 15%, 55%);
}

h3 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h4 {
  position: relative;
  margin-top: 40px;
}

h1 {
  z-index: 5;
  position: relative;
}

.middle, .nav-wrapper {
  @include wrapper;
  overflow: hidden;
}

.middle-grid {
  @include grid-column(12);
  text-align: center;
}

.card {
  @include grid-column(12 of 12);
  height: 20em;
  margin-bottom: 5%;
  @include grid-media($tablet-grid){
    @include grid-column(4);
  };

}

#card1 {
  @include card(url(../img/card1.jpg)) ;
}

#card2 {
  @include card(url(../img/card2.jpg)) ;
}

#card3 {
  @include card(url(../img/card3.jpg)) ;
}
