$color: hsl(120deg, 100%, 50%);

body {
  box-sizing: border-box;
  margin: 0;
}

$tablet-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);

#hero-background {
  @include size(100% 300px);
}

#hero-bottom {
  background-color: ;
}

.middle, .nav-wrapper {
  @include wrapper;
}

.middle-grid {
  @include grid-column(12);
  background-color: gray;
  margin: 0;
}

.card {
  @include grid-column(12 of 12);
  background-color: yellow;

  @include grid-media($tablet-grid){
    @include grid-column(4);
    background-color: pink;
  };
}

.card {
  width: 10vw;
}
