button.accordion {
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  text-align: left;
  border: none;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
  padding: 0 18px;
  background-color: yellow;
  display: none;
}
