$blue: hsla(192, 100%, 62%, 1);
$blue-ish: hsla(192, 100%, 62%, 0.5);
$red: hsla(3°, 90%, 61%, 0.5);
$orange: hsla(36°, 90%, 61%,0.5);
$yellow: hsla(53°, 90%, 61%,0.5);
$white: hsla(320°, 100%, 100%,0.8);

$eagle-lake: 'Eagle Lake', cursive;
$lato: 'Lato', sans-serif;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: $lato;
}

h1, h2, h3 {
  font-family: $eagle-lake;
}

h3 {
  text-shadow: 5px 2px 2px $orange;
}

h4 {
  font-weight: lighter;
  font-style: italic;
}

.card-content {
  position: absolute;
  @include size(100% 35%);
  bottom: 0;
  right: 0;
  display: none;
}

#card1:hover .card-content, #card2:hover .card-content, #card3:hover .card-content {
  background: linear-gradient(white, $yellow);
  display: block;
  vertical-align: bottom;
}
