$blue: hsla(192, 100%, 62%, 1);
$blue-ish: hsla(192, 100%, 62%, 0.5);
$red: hsla(3°, 90%, 61%, 0.5);
$orange: hsla(36°, 90%, 61%,0.5);
$yellow: hsla(53°, 90%, 61%,0.5);




body {
  box-sizing: border-box;
  margin: 0;
  // background-color: $blue-ish;
}

h4 {
  font-weight: lighter;
  font-style: italic;
}
.card-content {
  background-color: $blue-ish;
  position: absolute;
  @include size(100% 50%);
  bottom: 0;
  display: none;
}

#card1:hover .card-content, #card2:hover .card-content, #card3:hover .card-content {
  background-color: $blue-ish;
  display: block;
}
